*{
  box-sizing: border-box;
}
body {
  padding: 0; 
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.container{
  max-width: 1200px;
  margin:auto;
}
.quote {
  background-color: #4c5d39;
  width: 100%;
  height: 48px;
  text-align: center;
  justify-content: center;
  color: #eff7e2;
}
.quote p {
  padding: 10px;
  margin: 0;
}
header {
  background-color: #fffaf6;
  width: 100%;
}
.row-flexibility{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav {
  display: flex;
  align-items: center;
}
.topnav ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.topnav ul li {
  padding: 8px 20px;
}
.topnav ul li a {
  text-decoration: none;
  font-size: 17px;
  text-align: left;
  color: black;
}
.heading {
  font-size: 25px;
}
.bold_heading {
  color: black;
}
.icons{
  margin-right: 10px;
  display: flex;
  gap: 15px;
  font-size: 25px;
}
.icons p{
  font-size: 17px;
}
.icons ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;      
}
.icons ul li{
  padding: 8px 20px;
}
.cover_pic img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%; 
}
.cover_pic{
  display: flex;
  position: relative;
}
.image-text {
  position: absolute;
  bottom: 300px;
  left: 90px;
  color: black;
  font-size: 45px; 
  padding: 5px 10px; 
}
.purchase_button1{
  background-color: #e6ddce;
  width: 170px;
  height: 60px;
  border: none;
  position: absolute;
  bottom: 200px;
  left: 100px;
  cursor: pointer;
  font-size: 17px;
}
.motive{
  background-color: #fffaf4;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 85px;
  margin: 0;
}
.Motive_quote{
  text-align: center;
}
.Motive_quote p{
  line-height: 1.5;
}
.motive_quote1 img{
  width: 280px;
  height: auto;
}
.motive_quote1 p{
  line-height: 1.5;
}
.specialities{
  display: flex;
  gap: 5%;
  padding: 3%;
  text-align: center;
  justify-content: center;
}
.specialities h4{
  font-size: 20px;
}
.purchase_button2{
background-color: #c99b7a;
width: 170px;
height: 60px;
border: none;
cursor: pointer;
font-size: 17px;
}
.working{
  display: flex;
  padding: 5%;
  background-color: #ebdece;
  width: 100%;
}
.row-container{
  display: flex;
}
.working img{
  width:45%;
  height: 45%;
  padding: 4% 2%;
}
.button-class{
  display: flex;
  justify-content: center;
  align-items: center;
}
.working_process{
  font-size: 18px;
  padding-top: 5%;
  padding-left: 15%;
}
.working_process h4{
  margin-top: 0.5rem;
  margin-bottom: -0.9rem;
}
.working_process h1{
  margin-top: 0;
  margin-bottom: 25px;
}
.working_process p{
  font-size:17px ;
  line-height: 1.5;
}
.news_report{
  background-color: #4c5d39;
  text-align: center;
  justify-content: center;
  font-size:20px ;
  padding: 5%;
  color: #ebdece;
}
.news_report h3{
  font-family: 'Lily Script One', cursive;
  font-size: 25px;
}
.conclusion{
  display: flex;
  padding: 5%;
  background-color: #fffaf4;
}
.conclusion img{
  width:45%;
  height: 45%;
  padding-left: 5%;
}
.conclusion_motive{
  padding-top: 8%;
  padding-right: 12%;
  font-size: 17px;
}
.conclusion_motive p{
  line-height: 1.5;
}
footer{
  background-color: #eaded0;
  width: 100%;
  padding: 1%;  
}

